.place-card__like-icon {
 
  background-color: transparent;
  border: none;
  width: 21px;
  height: 19px;
  cursor: pointer;
  transition: transform .3s linear;
}



.place-card__like-icon:hover {
  transform: scale(1.03);
}
