.user-info__button {
  display: flex;
}



.user-info__button_edit {
 
  width: 38px;
  height:18px;
  font-size: 12px;
 }

 .user-info__button_add {
  
  width: 150px;
  height:50px;
  font-size: 30px;
  position: absolute;
  top: 16px;
  right: 0;
 }
 @media screen and (max-width: 980px) {
   .user-info__button {
     position: static;
     margin-bottom: 40px;
   }
 }